<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ekanshdeep Gupta</title>
    <script src="scramble.js"></script>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <style type="text/css">
/*      a {
        color: inherit;
        text-decoration: underline;
      }*/

      a:hover, a:focus {
        color: #069;
        font-weight: normal;
      }

      .social {
        height: 20px;
        width: auto;
      }
      /*body {
        font-size: 16px;
      }*/
    </style>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" style="border-radius: 50%; width: 80%;
  height: auto;" alt="Profile" />
        {% endif %}

        <br><br>
        <b>Email</b>:
        <div id="email" style="display:inline;">
         <noscript><i>Please enable Javascript to view</i></noscript>
        </div>
        <br>
        <br>
        <a href="https://www.twitter.com/EkanshdeepGupta"><img class="social" src="/assets/Twitter_Logo_Blue.png"></a>
        <a href="https://www.github.com/EkanshdeepGupta"><img class="social" src="/assets/GitHub-Mark-120px-plus.png"></a>

        <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->

        {% if site.github.is_project_page %}
<!--         <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p> -->
        {% endif %}

        {% if site.github.is_user_page %}
        <!-- <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p -->
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <!-- <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p> -->
        {% endif %}
        <p><small><a href="https://github.com/orderedlist">Theme</a>; <a href="https://github.com/jeffdonahue">email scrambler</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script>
    emailScramble = new scrambledString(document.getElementById('email'),
        'emailScramble', 'hkun.nsadeey@u',
        [6,2,10,8,11,4,5,3,13,1,12,9,7,14]);
    </script>
  </body>
</html> 
